<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycoffeedreamproject_04">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Auth.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <activity android:name=".Default.RoastingStory" />
        <activity android:name=".Default.CoffeeStory" />
        <activity android:name=".Default.BrandStrory" />
        <activity android:name=".Default.ContentsInfo" />
        <activity android:name=".Grid.ClickedItemActivity" />
        <activity android:name=".Grid.GridView" />
        <activity android:name=".Map.GoogleMap_5" />
        <activity android:name=".Map.GoogleMap_4" />
        <activity android:name=".Map.GoogleMap_3" />
        <activity android:name=".Map.GoogleMap_2" />
        <activity android:name=".Map.GoogleMap_1" />
        <activity android:name=".Default.InteriorGrid" />
        <activity android:name=".Splash.MyInfoActivity" />
        <activity android:name=".Splash.Intro2" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Auth.KakaoLoginApi" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLpr8Y_skZsamNMCyEib92ufTqDtzCDk0" />

        <activity android:name=".Splash.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>