<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycoffeedreamproject_04">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".RoastingStory"></activity>
        <activity android:name=".CoffeeStory" />
        <activity android:name=".BrandStrory" />
        <activity android:name=".ContentsInfo" />
        <activity android:name=".ClickedItemActivity" />
        <activity android:name=".GridView" />
        <activity android:name=".GoogleMap_5" />
        <activity android:name=".GoogleMap_4" />
        <activity android:name=".GoogleMap_3" />
        <activity android:name=".GoogleMap_2" />
        <activity android:name=".GoogleMap_1" />
        <activity android:name=".InteriorGrid" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".Intro2" />
        <activity android:name=".MainActivity" />
        <activity android:name=".KakaoLoginApi" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLpr8Y_skZsamNMCyEib92ufTqDtzCDk0" />

        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>